<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Component page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-placeholder image="/assets/icon/placeholder.png" message="Lorem ipsum"></app-placeholder>
  <live-time></live-time>
  <show-or-not [show]="harcodedFalse"></show-or-not>
  <show-or-not [show]="harcodedTrue"></show-or-not>
  <show-or-not [show]="dynamicBoolean"></show-or-not>
  <ion-button (click)="change_boolean()" color="primary"> show hidden message</ion-button>
 
</ion-content>
