/* Google open font Roboto*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

p{
  width: 100%;
font-family: 'Roboto';
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0px;
text-align: center;
color: #b5b5b5;

}