<ion-app>

  
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu" auto-hide="true" >
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Auto Hide Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle auto-hide="true" >
        <ion-item routerLink="/home">Home</ion-item>
        <ion-item routerLink="/components">Components</ion-item>
        <ion-item routerLink="/storage">Capacitor storage</ion-item>
        <ion-item routerLink="/full-screen-background">Full image as background</ion-item>
        <ion-item routerLink="/videoplayer">VidePlayer Modal</ion-item>
       
      
      </ion-menu-toggle>
    </ion-content>
    <ion-item style="width: 100%;">
      <app-version style="width: 100%;"></app-version>
    </ion-item>
  
  </ion-menu>
 
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>


