
/* Font */
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Letters format */

.no-events-placeholder{
    margin-top:61px;
    width:100%
}
.no-events-placeholder img{
    height: 78.24329376220703px;
    width: 78.24329376220703px;
  
}
.center-placeholder{
    display: table;
    margin: 0 auto;
}
h1.center-placeholder{
    margin-top: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px; 
    text-align: left;
    color: red;
}