<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Storage Capacitor Page</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <table class="tg">
    <thead>
      <tr>
        <th class="tg-0lax">KEY</th>
        <th class="tg-0lax">VALUE</th>
        <th class="tg-0lax">TYPE<br></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of table">
        <td class="tg-0lax">{{o.key}}</td>
        <td class="tg-0lax">{{o.value}}</td>
        <td class="tg-0lax">{{o.type}}</td>
      </tr>
    
    </tbody>
  </table>
  <ion-button (click)="add_elements()" color="primary"> Add elements</ion-button>
  <ion-button (click)="remove_element()" color="primary"> Remove 'MyBoolean'</ion-button>
  <ion-button (click)="remove_all()" color="primary"> Remove All</ion-button>

</ion-content>